# This Terraform example for Spectro Cloud Palette can be used by customizing this file
# as well as setting some environment variables for your secrets data 
# NEVER COMMIT files with secrets into a version control system


# Spectro Cloud credentials used to communicate with the Palette platform

# The Spectro Cloud provider works for the SaaS offering as well as private install
# If using a private install provide the dns name of your on-prem Palette enviroment 
sc_host         = "api.spectrocloud.com" 
sc_api_key      = "yourApiKey"

# Spectro Cloud can manage Kubernetes clusters in separate projects that help support multitenancy and RBAC
# There is a default project named "Default" this can be used for testing and training 
sc_project_name    = "Default" 

# Spectro Cloud Palette cluster profile 
# names must be lowercase letters, numbers, and dashes only

sc_cp_profile_name = "aws-cp-tf-test"
sc_cp_profile_description = "brief-description-of-profile"
sc_cp_profile_tags = ["iac:terraform", "example:tag2"]
sc_cp_cloud = "aws"
sc_cp_type = "cluster"
sc_cp_version ="1.0.1"



